.h1_donations {
  background-color: #AFDEFF;
  color: #191970;
  text-align: center;
}
  
.container_donations{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-end;
  color: #191970;
  font-size: 18px;
}

.container_donationsItem {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  margin-bottom: 50px;
  background-color: rgba(175,222,255,0.8); 
  text-align: center;
}
  
 
.button{
  cursor: pointer;
}
.pictureDonation{
  height: 500px; width: auto;text-align: center; 
}