.container_testing{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.testing_item{
  background-color: rgba(175,222,255,0.8); 
  color: #191970;
  padding: 20px 20px; 
  font-size: 18px; 
  text-align: left;
  margin: 10px;
  border-radius: 20px;
}
.test_below_text {
  display: flex;
  flex-direction: row;
  background-color: rgba(175,222,255,1);
}
.button {
  cursor: pointer;
}

.h1_testing {
  background-color: #AFDEFF;
  color: #191970;
  text-align: center;
}